{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--<link rel="stylesheet" href="{% static 'simple_login_and_registraion/css/style.css' %}"/>-->
    <br>


        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-6"><center>Log In</center></legend>
                    {{ form|crispy }}


                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">SignIn</button>
                    </div>

                    <div class="form-group">
                        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    </div>

                </fieldset>


            </form>

        </div>
{% endblock content %}
